{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">中鹏培训</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">退出</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% include 'nav.html.twig' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h3"></h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_student_create') }}">添加</a>
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin_student_import') }}">导入</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>学号</th>
                            <th>考试科目</th>
                            <th>时间</th>
                            <th>地点</th>
                            <th>考场</th>
                            <th>教室</th>
                            <th>座位号</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ student.id }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.number }}</td>
                                <td>{{ student.subject }}</td>
                                <td>{{ student.time }}</td>
                                <td>{{ student.address }}</td>
                                <td>{{ student.site }}</td>
                                <td>{{ student.room }}</td>
                                <td>{{ student.seat }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
{% endblock %}